<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BlobConString" value="DefaultEndpointsProtocol=https;AccountName=apobloblogs;AccountKey=T0VwUsUChxehS6ylEHeCHwijOx1Ql05wEJ2P4UDhBbrlh9Y1tE4HwbsMJpvyFn63TF5/NErBQ8t0zA6Pa7E80w==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>